@font-face {
  font-family: 'Text Me One';
  font-style: normal;
  font-weight: 400;
  src: local('Text Me One'), local('TextMeOne-Regular'), url(../fonts/pqzhd5hyrpwtzi5fokmj9j0eavxt0g0bientp43qt6e.ttf) format('truetype');
}
